.container{
    align-items: center;
    background-color: #ffbb0e;
    .forgot-card{
        --background: #ffd467;
        .forgot-form{
            height: 250px;
            .forgot-item-container{
                height: 150px;
                .forgot-item{
                    width: 200px;
                }
                ion-button.reset-button{
                    --background:#805117;
                }
            }
        }
    }
}