<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="forgot-page">
  <div class="container">
    <ion-card class="forgot-card">
      <form id="form2" class="forgot-form" (ngSubmit)="onSubmit()">
        <div class="forgot-item-container">
          <ion-item class="forgot-item">
            <ion-input type="email" [(ngModel)]="email" name="email"  label="Email" labelPlacement="floating" placeholder="Email"></ion-input>
          </ion-item>
          <ion-item class="forgot-item">
            <ion-input type="password" [(ngModel)]="newPassword" name="password"  label="New password" labelPlacement="floating" placeholder="New password"></ion-input>
          </ion-item>
          <ion-button class="reset-button" expand="full" type="submit">Reset Password</ion-button>
        </div>
      </form>
    </ion-card>
  </div>
</ion-content>
