<ion-content class="login-page">
  <div class="container">
    <!-- logo -->
    <div style="width: 100%;display: flex;justify-content: center;align-items: center;">
      <img src="../../../../assets/movies/logo-fictional-cinemax.jpg" alt="logo-customer">
    </div>
  
    <!-- login form -->
    <div class="login-form">
      <!-- username input -->
      <ion-item class="login-form-item">
        <ion-label position="floating">Username</ion-label>
        <ion-input [(ngModel)]="username" type="text" name="username"></ion-input>
      </ion-item>
      <!-- password input -->
      <ion-item class="login-form-item">
        <ion-label position="floating">Password</ion-label>
        <ion-input [(ngModel)]="password" type="password" name="password"></ion-input>
      </ion-item>
      <!-- login button -->
      <ion-button class="login-button" (click)="onLogin()">Login</ion-button>
      <!-- register button -->
      <ion-text>Create account</ion-text>
    </div>
  
    <!-- forgot password button -->
    <div class="forgot-password">
      <ion-text>Forgot password?</ion-text>
    </div>
  </div>
</ion-content>
