<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/movie-list"></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let logo of logos" class="settings-item">
      <ion-avatar slot="start" [ngClass]="{'selected-logo': selectedLogo === logo}">
        <img [src]="logo" (click)="changeLogo(logo)" />
      </ion-avatar>
      <ion-label>{{ getLogoName(logo) }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Logo Preview</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img [src]="selectedLogo" />
    </ion-card-content>
  </ion-card>
</ion-content>
