// .selected-logo {
//     border: 2px solid #00ff00;
//     border-radius: 50%;
// }

.selected-logo {
    border: 2px solid #00ff00;
    border-radius: 50%;
    font-size: 24px;
}


// ion-item.settings-item ion-label {
//     font-size: 20px;
// }
  
// ion-item.settings-item ion-avatar img {
//     width: 80px;
//     height: 80px;
// }
