/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/* Estilo por defecto para las notificaciones */
.notification {
    color: white;
    font-weight: bold;
  }
  
  /* Estilo para notificaciones de éxito */
  .success {
    --mdc-snackbar-container-color: #4caf50; /* Verde */
    --mat-snack-bar-button-color: white;
    color: white;
    border-color: #388e3c; /* Color de borde verde más oscuro */
  }
  
  /* Estilo para notificaciones de error */
  .error {
    --mdc-snackbar-container-color: #f44336; /* Rojo */
    --mat-snack-bar-button-color: white;
    color: white;
    border-color: #d32f2f; /* Color de borde rojo más oscuro */
  }
  
  /* Estilo para notificaciones de advertencia */
  .warning {
    --mdc-snackbar-container-color: #ff9800; /* Naranja */
    --mat-snack-bar-button-color: white;
    color: black; /* Texto en color negro para advertencias */
    border-color: #f57c00; /* Color de borde naranja más oscuro */
  }
  
  /* Estilo para notificaciones de información */
  .info {
    --mdc-snackbar-container-color: #2196f3; /* Azul */
    --mat-snack-bar-button-color: white;
    color: white;
    border-color: #1976d2; /* Color de borde azul más oscuro */
  }

.container{
  background-color: #ffbb0e;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.register-form, .forgot-form{
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.forgot-item-container, .register-item-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}