<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="register-page">
  <div class="container">
    <ion-card class="register-card">
      <form id="form1" class="register-form" (ngSubmit)="onSubmit()">
        <div  class="register-item-container">
          <ion-item class="register-item">
            <ion-input type="text" [(ngModel)]="username" name="username"  label="Username" labelPlacement="floating" placeholder="Username"></ion-input>
          </ion-item>
          <ion-item class="register-item">
            <ion-input type="email" [(ngModel)]="email" name="email"  label="Email" labelPlacement="floating" placeholder="Email"></ion-input>
          </ion-item>
          <ion-item class="register-item">
            <ion-input type="password" [(ngModel)]="password" name="password"  label="Password" labelPlacement="floating" placeholder="Password"></ion-input>
          </ion-item>
          <ion-button class="register-button" expand="full" type="submit">Register</ion-button>
        </div>
      </form>
    </ion-card>
  </div>
</ion-content>
