<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/movie-list"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ movie.title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openEditDescriptionModal()">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
      <ion-button (click)="deleteMovie()">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-card *ngIf="loadedData">
      <ion-card-content>
        <ion-img [src]="movie.imagePath" alt="{{ movie.title }} Image"></ion-img>
        <p class="movie-year"><b>Year:</b> {{ movie.year }}</p>
        <p class="movie-description"><b>Description:</b> {{ movie.description }}</p>
        <p class="movie-rate"><b>Rate:</b> {{ movie.rate }}</p>
        <div class="rating-stars">
          <ion-icon
            *ngFor="let star of [1, 2, 3, 4, 5]"
            [name]="star <= userRating ? 'star' : 'star-outline'"
            (click)="rateMovie(star)"
          ></ion-icon>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
